fastapi
uvicorn[standard]
langchain
langgraph
langchain-openai
langsmith
chromadb
tavily-python
pytesseract
pillow
python-dotenv
pydantic-settings


langchain-community
langchain-text-splitters
langchain-chroma
pypdf

langchain-google-genai
langchain-groq